html, body {
  padding: 0;
  margin: 0;
 
}

input {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #BBB;
  font-family: Helvetica, sans-serif;
  padding-bottom: 50px;
  
}

h2, h3 {
  margin: 0 0 .75em 0;
}

/* second example */
.column-layout {
	
  max-width: 1300px;
  height: 600;
  background-color: #FFF;
  margin: 100px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;

}

.main-column {
  flex: 3;
  order: 2;
  font-size-adjust;
}

.sidebar-one {
	margin-right: 20px;
  flex: 1;
  order: 1;
}

.sidebar-two {
	margin-left: 20px;
  flex: 1;
  order: 3;
}
