<html>
<head>
  <meta charset="utf-8">
  <link href="css/style1.css" rel="stylesheet">

</head>
<body>
<div class="column-layout">
  <div class="main-column">
    <h2>Main Table</h2>
    

  </div>

  <div class="sidebar-one">
  <form action = "submit1" method = "POST">
    <h3>Annotation And New Category</h3>
    
	<input type = "submit" name = "displayDAGR" value = "Display GUIDS">
	<br></br>
	</form>
	
  </div>

  <div class="sidebar-two">
  <form action = "submit" method = "POST">
    <h3>Query Searches</h3>
    <p>GUID<input type = "text" name = "GUID"></p>
	<p>File Name <input type = "text" name = "fileName"></p>
	<p>File Size<input type = "text" name = "File_Size"></p>
	<p>Timestamp (YYYY-MM-DD HH24:MI:SS)<input type = "text" name = "timeStamp"></p>
	<p>Annotation<input type = "text" name = "Anno"></p>
	<input type ="submit" value = "submit">
	
	
	<p>Time Range Search(YYYY-MM-DD HH24:MI:SS)<input type = "text" name = "Range1">
		<input type ="text" name = "Range2"</p>
	<input type ="submit" value = "submit" >
	</form>
  </div>
</div>

</body>
</html>